.container {
    border: none;
    margin: 0;
    padding: 0;
}

.main-container.container {
    width: 100%;
    display: grid;
    display: grid;
    grid-template-columns: 150px 40px auto 40px;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "sidebar . main ."
        "sidebar . main .";

}

.header-container.container {
    grid-area: header;
}

.content-container.container {
    grid-area: main;


}

.sidebar-container.container {
    grid-area: sidebar;
}



#Title {
    justify-content: center;
    text-align: center;
    font-size: 3em;
    font-family: monospace;
    font-weight: bold;
}